/* ==========================================================================
   Animations

   Relatively simple animations
   ========================================================================== */

.fade {
	@mixin i this {
		/* fade__this-block-softly
				     -text-softly */
		&-block-softly,
		&-text-softly {
			animation: fade 2s ease-in;
		}
	}
}

.levitate {
	@mixin i this {
		/* levitate__this-block
						 -this */
		&-block,
		&-text {
			animation: levitate 3s ease infinite;
		}
	}
}

/* Animation Declarations */
@keyframes fade {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes levitate {
	from {
		transform: translate(0, 0px)
	}

	@for $i from 0 to 65 by 1 {
		$i% {
			transform: translate(0, calc($i * .324)px) 
		}
	}

	to {
		transform: translate(0, 0px);
	}
}