/* ==========================================================================
   Position

   Position related css declarations
   ========================================================================== */


.center {
	@mixin ie inside, block {

		/* center__inside-block-only-text */
		&-only-text {
			text-align: center;
		}

		/* center__inside-block-everything-vertically */
		&-everything-vertically,
		&-all-vertically {
			display: flex;
			align-items: center;
		}

		/* center__inside-block-everything-horizontally */
		&-everything-horizontally,
		&-all-horizontally {
			display: flex;
			justify-content: center;
		}
		
		/* center__inside-block-everything */
		&-everything {
			display: flex;
			justify-content: center;
			align-content: center;
			text-align: center;
		}
	}
}

.move {
	@mixin ie inside, block {
		
		/* move__inside-block-everything-left */
		&-everything-left {
			display: flex;
			justify-content: flex-start;
		}

		/* move__inside-block-everything-right */
		&-everything-right {
			display: flex;
			justify-content: flex-end;
		}

		/* move__inside-block-everything-evenly */
		/* @ALIAS: space__inside-block-evenly-horizontally */
		&-everything-evenly {
			display: flex;
			justify-content: space-around;
		}
	}

	@mixin ie this, block {

		/* move__this-block-to-the-bottom */
		&-to-the-bottom {
			align-self: flex-end;
		}

		/* move__this-block-to-the-top */
		&-to-the-top {
			align-self: flex-start;
		}

		/* move__this-block-to-the-front */
		&-to-the-front,
		&-to-first,
		&-to-1 {
			order: 1;
		}

		/* loop to allow reordering of each item up to 100 different list 
				move__this-block-to-#
		*/
		@for $i from 1 to 100 {
			&-to-$i {
				order: $i;
			}
		}
	}
}

.break {
	@mixin ie inside, block {
		/* break__inside-block-into-rows */
		&-into-rows {
			flex-flow: row wrap;
		}
	}

	@mixin ie this, block {
		/* break__this-block-order-to-first */
		&-order-to-first {
			@extend .move__this-block-to-the-front;
		}
	}
}

.space {
	@mixin ie inside, block {

		/* space__inside-block-evenly-vertically */
		&-evenly-vertically {
			align-content: space-between;
		}

		/* space__inside-block-evenly-horizontally */
		&-evenly-horizontally {
			@extend .move__inside-block-everything-evenly;
		}

		/* space__inside-block-all-around-evenly */
		&-all-around-evenly {
			align-content: space-around;
			justify-content: space-around;
		}
	}
}


